[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "==2.2.18"
psycopg2-binary = "*"
djangorestframework = "*"
pandas = "*"
xlrd = "*"
python-environ = "*"
requests = "*"
django-reverse-admin = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
googlemaps = "*"

[requires]
python_version = "3.6"
